@model List<Blog>

<section class="blog spad">
	<div class="container">

		<span> <img style="height:400px;width:9000px;" src="~/img/breadcrumb-bg.jpg" />   </span>

	</div>
	<div class="container">
		<div class="row">


			@foreach (Blog blog in Model)
			{
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="blog__item">

						<div class="blog__item__pic set-bg"></div>

						<div class="blog__item__text">
							<span> <img src="~/img/blog/@blog.ImageUrl" alt="@blog.Name" />  </span>
							<span><img src="~/img/icon/calendar.png" > @blog.Data</span>
							<h5>@blog.Name</h5>
							<a href="#">@blog.ButtonTitle</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- Blog Section End -->