@model List<Product>

<div class="row product__filter">
   
      
    @foreach (Product product in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <span><img src="~/img/product/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Url "  /></span>
             
                </div>
                <div class="product__item__text">
                    <a class="h6 text-decoration-none text-truncate" asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a><br>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <h5>$@product.Price</h5>
                    <h6 class="text-muted ml-2">
                        <del>@(product.OldPrice != null ? $"${product.OldPrice}" : "")</del>
                    </h6>
               @*      <div class="product__color__select">
                        <label for="pc-1">
                            <input type="radio" id="pc-1">
                        </label>
                        <label class="active black" for="pc-2">
                            <input type="radio" id="pc-2">
                        </label>
                        <label class="grey" for="pc-3">
                            <input type="radio" id="pc-3">
                        </label>
                    </div> *@
                </div>
            </div>
        </div>

    }

</div>