@model List<Product>

<div class="row product__filter">


    @foreach (Product product in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <span><img src="~/img/product/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Url " /></span>

                    <ul class="product__hover">
                        <li> <a class="btn btn-outline-dark btn-square" asp-controller="Basket" asp-action="AddBasket" asp-route-id="@product.Id"><i class="fa fa-shopping-cart"></i></a></li>

                    </ul>
                </div>
                <br>
                <div>
                    <a class="btn btn-outline-warning"  asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a><br><br>
                 
                    <h5>$@product.Price</h5>
                    <h6 class="text-muted ml-2">
                        <del>@(product.OldPrice != null ? $"${product.OldPrice}" : "")</del>
                    </h6>
                    <div class="rating">
                        <i class="fa text-warning fa-star mr-1"></i>
                        <i class="fa text-warning fa-star mr-1"></i>
                        <i class="fa text-warning fa-star mr-1"></i>
                        <i class="fa text-warning fa-star mr-1"></i>
                        <i class="fa text-warning fa-star mr-1"></i>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
