@model Size
<form asp-action="Delete" asp-controller="Size" class="text-center" style="font-size: 16px; color: black;">
    <h3>Bu rəngi silmək istədiyinizə əminsiniz?</h3>
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" name="confirim" value="true" />
    <input type="submit" value="Yes" class="l btn btn-success" />
    <a asp-action="Index" asp-controller="Size" class=" btn btn-danger">No</a>
</form>


