@model ForgotPasswordVM


<h1>ForgotPassword</h1>

<main class="main-content">
	
	<div class="login-register-area section-space-y-axis-100">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 pt-5 pt-lg-0">
					<form class="pt-3" method="post">
						<div class="form-group">
							<div class="text-danger" asp-validation-summary="ModelOnly"></div>
							<label asp-for="Email">Email</label>
							<div class="input-group">
								<div class="input-group-prepend bg-transparent">
									<span class="input-group-text bg-transparent border-right-0">
										<i class="fa fa-sign-in"></i>
									</span>
								</div>
								<input type="text" class="form-control form-control-lg border-left-0" asp-for="Email" placeholder="Email">

							</div>
							<span class="text-danger" asp-validation-for="Email"></span>
						</div>
					
						<div class="my-3">

							<button type="submit" class="btn btn-custom-size lg-size btn-primary">
								Submit
							</button>

						</div>

						<div class="text-center mt-4 font-weight-light">
							Don't have an account? <a asp-action="Register" class="text-primary">Create</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</main>