
@model LoginVM


<main class="main-content">
	<div class="breadcrumb-area breadcrumb-height"
		 >
		<span><img width="800px;" height="250px;" src="~/img/breadcrumb/bg/login.jpg" /></span>
		
	</div>
	<div class="login-register-area section-space-y-axis-100">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 pt-5 pt-lg-0">
					<form class="pt-3" method="post">
						<div class="form-group">
							<div class="text-danger" asp-validation-summary="ModelOnly"></div>
							<label asp-for="UsernameOrEmail">Username or email</label>
							<div class="input-group">
								<div class="input-group-prepend bg-transparent">
									<span class="input-group-text bg-transparent border-right-0">
										<i class="fa fa-sign-in"></i>
									</span>
								</div>
								<input type="text" class="form-control form-control-lg border-left-0" asp-for="UsernameOrEmail" placeholder="Username or email">
								
							</div>
							<span class="text-danger" asp-validation-for="UsernameOrEmail"></span>
						</div>
						<div class="form-group">
							<label asp-for="Password">Password</label>
							<div class="input-group">
								<div class="input-group-prepend bg-transparent">
									<span class="input-group-text bg-transparent border-right-0">
										<i class="fa fa-lock"></i>
									</span>
								</div>
								<input type="password" class="form-control form-control-lg border-left-0" asp-for="Password" placeholder="Password">
								
							</div>
							<span class="text-danger" asp-validation-for="Password"></span>
						</div>
						<div class="my-2 d-flex justify-content-between align-items-center">
							<div class="form-check">
								<label asp-for="IsRemembered" class="form-check-label text-muted">
									<input asp-for="IsRemembered" type="checkbox" class="form-check-input">
									Keep me signed in
								</label>
								
							</div>
							<a asp-action="ForgotPassword" class="text-primary">Forgot password?</a>
							
						</div>
						<div class="my-3">
							
							<button type="submit" class="btn btn-custom-size lg-size btn-primary">
								Login
							</button>

						</div>
						
						<div class="text-center mt-4 font-weight-light">
							Don't have an account? <a asp-action="Register" class="text-primary">Create</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</main>

