@model ResetPasswordVM

<main class="main-content">
	<div class="breadcrumb-area breadcrumb-height">
		<span><img width="800px;" height="250px;" src="~/img/breadcrumb/bg/login.jpg" /></span>

	</div>
	<div class="login-register-area section-space-y-axis-100">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 pt-5 pt-lg-0">
					<form class="pt-3" method="post">
						<div class="form-group">
							<div class="text-danger" asp-validation-summary="ModelOnly"></div>
							<label asp-for="NewPassword">NewPassword</label>
							<div class="input-group">
								<div class="input-group-prepend bg-transparent">
									<span class="input-group-text bg-transparent border-right-0">
										<i class="fa fa-lock"></i>
									</span>
								</div>
								<input type="password" class="form-control form-control-lg border-left-0" asp-for="NewPassword" placeholder="NewPassword">

							</div>
							<span class="text-danger" asp-validation-for="NewPassword"></span>
						</div>
						<div class="form-group">
							<label asp-for="ConfirmPassword">ConfirmPassword</label>
							<div class="input-group">
								<div class="input-group-prepend bg-transparent">
									<span class="input-group-text bg-transparent border-right-0">
										<i class="fa fa-lock"></i>
									</span>
								</div>
								<input type="password" class="form-control form-control-lg border-left-0" asp-for="ConfirmPassword" placeholder="ConfirmPassword">

							</div>
							<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
						</div>
						
						<div class="my-3">

							<button type="submit" class="btn btn-custom-size lg-size btn-primary">
								Login
							</button>

						</div>

						<div class="text-center mt-4 font-weight-light">
							Don't have an account? <a asp-action="Register" class="text-primary">Create</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</main>